C# Generics/WiredBrainCoffee/StackApp/bin/
C# Generics/WiredBrainCoffee/StackApp/obj/
.vscode/
C# Generics/WiredBrainCoffee/StorageApp/bin/
C# Generics/WiredBrainCoffee/StorageApp/obj/
C#Exceptions/HandlingExceptions/bin/
C#Exceptions/HandlingExceptions/obj/
